@import "tailwindcss";

@keyframes marquee {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-50%);
  }
}

@keyframes marquee-reverse {
  from {
    transform: translateX(-50%);
  }

  to {
    transform: translateX(0%);
  }
}

.animate-marquee {
  display: flex;
  width: max-content;
  animation: marquee 30s linear infinite;
}

.animate-marquee-reverse {
  display: flex;
  width: max-content;
  animation: marquee-reverse 30s linear infinite;
}

.animate-marquee:hover,
.animate-marquee-reverse:hover {
  animation-play-state: paused;
}
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}

@import "tailwindcss";

/* Enable class-based dark mode */
@custom-variant dark (&:where(.dark, .dark *));
.animate-marquee {
  display: flex;
  width: max-content;
  animation: marquee 30s linear infinite;
}

.animate-marquee:hover {
  animation-play-state: paused;
}

html {
  transition: background-color 0.3s ease;
}

body {
  transition: background-color 0.3s ease, color 0.3s ease;
}


.bg-grid{
background-image:
linear-gradient(rgba(0,0,0,.08) 1px,transparent 1px),
linear-gradient(90deg,rgba(0,0,0,.08) 1px,transparent 1px);

background-size:45px 45px;
}

body{

background:#ffffff;

color:#111827;

font-family:Inter,sans-serif;

overflow-x:hidden;

scroll-behavior:smooth;

}
